/*
   2014年11月30日17:49:39
   用户: 
   服务器: 61.152.145.28
   数据库: DataMingDB
   应用程序: 
*/

/* 为了防止任何可能出现的数据丢失问题，您应该先仔细检查此脚本，然后再在数据库设计器的上下文之外运行此脚本。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.SiteListFailureLog
	(
	Id int NOT NULL IDENTITY (1, 1),
	SiteId int NOT NULL,
	Message nvarchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.SiteListFailureLog ADD CONSTRAINT
	PK_SiteListFailureLog PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.SiteListFailureLog ADD
	FailureTime datetime NOT NULL CONSTRAINT DF_SiteListFailureLog_FailureTime DEFAULT getdate()
GO
ALTER TABLE dbo.SiteListFailureLog SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
