<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--导出Xml格式的Excel的条数-->
		<add key="MaxExportSize" value="10000"/>

		<!--接收 论坛常抓站点的数据 分类ID-->
		<add key="RC_Forum_CateId" value="1" />
		
		<!--接收 新闻常抓站点的数据 分类ID-->
		<add key="RC_News_CateId" value="2" />
		
		<!--接收 博客常抓站点的数据 分类ID-->
		<add key="RC_Blog_CateId" value="3" />
		
	</appSettings>
	<connectionStrings>
		
		<add name="ConnStr" connectionString="server=127.0.0.1;database=WebDataDB;uid=sa;pwd=sa;" />
		</connectionStrings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
      通过 <authentication> 节可以配置
      安全身份验证模式，ASP.NET 
      使用该模式来识别来访用户身份。 
    -->
    <authentication mode="Windows"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <add verb="*" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro"/>
    </httpHandlers>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>