<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <root>
      <!--<level value="DEBUG" /> 
           <appender-ref ref="FileAppender" />-->
    </root>
    <logger name="MyLogger">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
      <!--<appender-ref ref="FileAppender"></appender-ref>
			<appender-ref ref="ConsoleAppender"></appender-ref>-->
    </logger>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="file" value="log/Log.log">
      </param>
      <param name="appendToFile" value="true">
      </param>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d%n--%p:%m%n%n">
        </conversionPattern>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!--以秒为单位-->
    <add key="SleepPullTime" value="300" />
	  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ConnStr" connectionString="server=127.0.0.1;database=WebDataDB;uid=sa;pwd=sa;" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>